<div id="products">
    <header>
        <button class="btn btn-dark"><a class="text-decoration-none text-light" href={{respuestaInfo.prevLink}}>prevLink</a></button>
        <button class="btn btn-dark"><a class="text-decoration-none text-light" href={{respuestaInfo.nextLink}}>nextLink</a></button>
        <button class="btn btn-dark"><a class="text-decoration-none text-light" href="/api/auth/logout"> Logout </a></button>
    </header>
    
    
    
    <div id="cartel">
        {{!-- <h1>¡Bienvenido/a {{user.first_name}} {{user.last_name}}!</h1>
        <h3>Eres: {{user.role}}</h3> --}}

    </div>
    
    <div id="productos"></div>

</div>
<script src="js/products.js"></script>